extends layout

block content
  .row.banner
    .col-12
      h1(style="margin-top:100px")= "ABOUT"
  .row
    .col-12.col-lg-8
      p 
        hr
        | Welcome to Fitzee!
        br
        | Created by the talented students of AIML-C, Fitzee is your go-to solution for calculating your Body Mass Index (BMI) and crafting a personalized diet plan just for you.
        br
        hr
        | Discover Your Ideal Path to Health:
        br
        | Fitzee not only helps you calculate your BMI but also provides tailored diet recommendations based on your BMI category—whether you're underweight, at a healthy weight, overweight, or classified as obese. Let us guide you toward a healthier lifestyle with the right plan to meet your dietary needs!
        br
        hr
